.PreMainPaper {
	padding-right: 20vw;
	padding-left: 20vw;
	padding-top: 10vh;
	padding-bottom: 10vh;
}

.InnerPaperDivider {
	padding-top: 10px;
	padding-bottom: 10px;
}

.InnerPaperPadd {
	padding-top: 20px;
	padding-bottom: 20px;
}

.ButtonsDetalles {
	justify-content: space-between;
	flex-direction: row;
	flex: 1;
	display: flex;
	padding-right: 30vw;
	padding-left: 30vw;
}