.Grid {
	height: '100%'
}

.App {
  text-align: center;
}

.Main-header {
  background-color: #1a57ba;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ItemGrid {
	margin-bottom: 50px;
	margin-top: 30px;
	justify-content: center;
	align-items: stretch;
}

.Test {
	flex-grow: 1;
}

.Admin-Logo {
  height: 10vmin;
}

.Admin-header {
   background-color: #1A2880;
   min-height: 5vh;
   display: flex;
   flex-direction: row-reverse;
   color:white;
   justify-content: space-between;
   align-items: center;
   padding-right: 25px;
   padding-left: 25px;
}

.Admin-main-paper {
  max-width: 100vh;
}

.Admin-main-grid {
  padding-bottom: 25px;
}

.Admin-bienvenido {
  padding-top: 25px;
  padding-bottom: 25px;
}

.Page-header {
   background-color: #1A2880;
   min-height: 5vh;
   display: flex;
   flex-direction: row-reverse;
   color:white;
   justify-content: space-between;
   align-items: center;
   padding-right: 25px;
   padding-left: 25px;
}
