.Grid {
	height: '100%'
}

.App {
  text-align: center;
}

.App-header {
  background-color: #1A2880;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.ItemGrid {
	margin-bottom: 50px;
	margin-top: 30px;
	justify-content: 'center';
}

.Test {
	flex-grow: 1;
}