.PaperStyle {
	border-left: 20px;
	border-right: 20px;
	border-top: 20px;
	width: '80%';
}

.Taxista-body {
  background-color: #1a57ba;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  padding-top: 20px;
  padding-bottom: 20px;
}

.GoBackB {
	padding-bottom: 20px;
}

.Titulo {
	font-color: white;
}

